<!DOCTYPE html>
<html>
  <head>
    <title>OdinMembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section id="header-top">
          <h1 id="header-HL"><%= link_to "Members Only Twitter Mock", root_path %></h1>
        </section>
        <section id="header-bottom">
        <nav id="main-nav">
          <ul>
            <li><%= link_to "New User", new_user_path %></li>
            <li><%= link_to "Sign In", "#" %></li>
          </ul>
        </nav>
      </section>
    </header>
    
      
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
        <p><a href="https://www.markstabler.com" target="_blank">Created by Mark Stabler</a></p>
        <p class="display-horiz fine-print">© Stabler Writing Services, LLC</p>
        <p class="display-horiz fine-print"><a href="#" target="_blank">Source Code</a></p>
    </footer>
  </body>
</html>
